.pcaWindow {
    height: 600px;
    width: 80%;
    overflow-y: auto;
    display:inline-block;
}

.pcaView {
    border: 2px solid gray;
    min-height:100px;
    max-height:120px;
    width: 100%;
    overflow-y: auto;
    
}

.pcaList {
    list-style-type:none;
    padding: 0px;
}

.pcaPropertyList {
    list-style-type:none;
}