.bankWindow {
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    height: 150px;
    width: 100%;
    float: left;
    background-color: #738db7;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bankButton {
	/*-moz-box-shadow:inset 0px 34px 0px -15px #7a8eb9;
	-webkit-box-shadow:inset 0px 34px 0px -15px #7a8eb9;
	box-shadow:inset 0px 34px 0px -15px #7a8eb9;*/
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    transition: padding 0.5s;
	background-color:#637aad;
	border:1px solid #314179;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #7a8eb9;
}
.bankButton:hover {
	background-color:#4D6499;
    padding: 9px 30px;
}
.bankButton:active {
	position:relative;
	top:2px;
}
.activeBankButton {
    /*-moz-box-shadow:inset 0px 34px 0px -15px #859BC9;
	-webkit-box-shadow:inset 0px 34px 0px -15px #859BC9;
	box-shadow:inset 0px 34px 0px -15px #859BC9;*/
    transition: padding 0.5s;
	background-color:#5972a7;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #859BC9;
}
.activeBankButton:hover {
    padding: 9px 30px;
}

.bankTable {
    margin-left:auto;
    margin-right:auto;
    
}
