.bankWindow {
    background-color: #B3C3E8;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;   
    box-sizing: border-box;
    display: flex;
    flex-direction: column;  
    overflow: auto;    
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bankButton {
    transition: padding 0.5s;
	background-color:#637aad;
	border:1px solid #314179;
	display:block;
    min-width: 7em;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 1em;
	text-decoration:none;
	text-shadow:0px -1px 0px #7a8eb9;
}
.bankButton:hover {
	background-color:#314179;
    padding: 9px 30px;
}

.activeBankButton {
    transition: padding 0.5s;
	background-color:#314179;
	border:1px solid #314179;
	display:inline-block;
    min-width: 7em;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 1em;
}
.activeBankButton:hover {
    background-color:#314179;
    padding: 9px 30px;
}

.bankTable {
    display: flex;
    flex-direction: row wrap;
    align-content: center;
    justify-content: center;
}

@media all and (max-width: 600px) {
    .bankTable {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
}
