.infoWindow {
    border: 1px solid #333;
}

.infoViewSelector {
    display: flex;
    align-items: center;
}

.infoItemList {
    list-style-type:none;
    padding: 5px 5px 5px 5px;
    
}
.iteratorButton {
	/*-moz-box-shadow:inset 0px 34px 0px -15px #dcecfb;
	-webkit-box-shadow:inset 0px 34px 0px -15px #dcecfb;
	box-shadow:inset 0px 34px 0px -15px #dcecfb;*/
	background-color:#bddbfa;
	border:1px solid #84bbf3;
	display:block;
	cursor:pointer;
	color:#7d87c9;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:7px 24px;
	text-decoration:none;
	
}
.iteratorButton:hover {
	background-color:#a3c9f0;
}
.iteratorButton:active {
	position:relative;
	top:1px;
}
