
.infoWindow {
    height: 100%;
    display: flex;
    align-self: stretch;
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
    background-color: #314179;
    color: #fff;
    height: auto;
}

.infoViewSelector {
    flex: 1;
    display: flex;
    justify-content: center;
}

.infoItemList {
    align-self: flex-start;
    list-style-type:none;
    padding: 5px 5px 5px 5px;
    max-width: 300px;
}
.iteratorButton {
    flex: 1;
	background-color:#B3C3E8;
    border: 1px solid #314179;
	cursor:pointer;
	color:#7d87c9;
	font-size:1em;
	font-weight:bold;
    text-align: center;
    padding: 9px 0px;
    width: 130px;
}
.iteratorButton:hover {
	background-color:#a3c9f0;
}
.findLocalATMs {
    flex: 1;
    align-self: center;
	background-color:#333;
    border: 1px solid #000;
	cursor:pointer;
	color:#fff;
	font-size:1em;
	font-weight:bold;
    text-align: center;
    padding: 9px 0px;
    width: 130px;
}
.findLocalATMs:hover {
	background-color:#666;
}

#distanceDropDown {
    font-size: 1.3em;
    margin: 15px 0px;
    width: 130px;
    align-self: center;
}