.filterWindow {
    min-height: 60px;
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}

.filterForm {
    display: flex;
    width: 100%;
    font-size: 1.2em;
    margin: 9px 9px;
}

.filterForm .inputBox {
    flex: 2;
}

.filterForm .filterButton {
    flex: 1;
}

#filterDropDown {
    flex: 1;
}

.filterButton {
    background-color:#637aad;
    border: 0px;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
}

.filterButton:hover {
    background-color: #314179;
}