.filterWindow {
    display: inline-block;
    text-align: center;
    height: 34px;
    padding: 5px;
    width: 100%;
}

.inputBox {
    width: 30%;
    height: 1.3em;
    font-size: 1.3em;
}

@media all and (max-width = 600px) {
    .inputBox {
        width: 30%;
        height: 130%;
        font-size: 130%;
    }
}

#filterDropDown {
    height: 100%;
    font-size: 1.3em;
}

.filterButton {
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    transition: padding 0.5s;
    background-color:#637aad;
    border:1px solid #314179;
    display:inline-block;
    height: 100%;
    padding: auto;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:1.3em;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px -1px 0px #7a8eb9;
}