.pcaWindow {
    height: 600px;
    width: 100%;
    overflow-y: auto;
    display:inline-block;
    background-color: #ffffff;
}

.pcaView {
    border: 2px solid gray;
    min-height:150px;
    max-height:200px;
    width: auto;
    overflow-y: auto;
    
}

.pcaList {
    list-style-type:none;
    padding: 0px;
    margin: 0px;
}

.pcaPropertyList {
    list-style-type:none;
    padding: 5px;
}