
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.header {
    grid-area: header;
}
.topHeader {
    grid-area: top;
    background-color: #333;
    color: #ffffff;
    padding-left: 10px;
    
}
.topHeader > h1 {
    font-family: "Times New Roman", serif!important;
}
.infoContainer {
    background-color: #A8A8A8;
    grid-area: info;
}
.mainContainer {
    grid-area: main;
}

.mainPage {
    display: grid;
    text-align: left;
    max-width: 100%;
    height: 1024px;
    grid-template-columns: 25% auto;
    grid-template-rows: 20% 20% auto;
    grid-template-areas:
        "top top"
        "header header"
        "info main"
}

html {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
    background-color: #ffffff;
}

@media all and (max-width: 600px) {
    .mainPage {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-end;
    }
}