html,
body {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #C9C9C9;
}

.header {
    flex: 0.1;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 3 100%;
    display: flex;
    flex-flow: row;
    align-items: stretch;
}

.topHeader {
    background-color: #333;
    color: #ffffff;
    
}
.topHeader p {
    margin-left: 10px;
    margin-right: 10px;
}
.topHeader > h1 {
    font-family: "Palatino Linotype" !important;
    font-weight: 100;
    letter-spacing: 0.15em;
}

.infoContainer {
    background-color: #314179;
    width: auto;
    height: auto;
}

.pcaWindow {
    flex: 1 100%;
    height: auto;
}
.branchWindow {
    flex: 1 100%;
    height: auto;
}

.mainContainer {
    min-height: 500px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.mainPage {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    height:100%;
}

@media all and (max-width: 550px) {
    .main {
        flex-flow: column;
    }
    
    body {
        height: auto;
    }
}