html,
body {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #C9C9C9;
}

.header {
    grid-area: header;
}
.topHeader {
    grid-area: top;
    background-color: #333;
    color: #ffffff;
    
}
.topHeader p {
    margin-left: 10px;
    margin-right: 10px;
}
.topHeader > h1 {
    font-family: "Palatino Linotype" !important;
    font-weight: 100;
    letter-spacing: 0.15em;
}

.infoContainer {
    background-color: #A8A8A8;
    grid-area: info;
}

.mainContainer {
    grid-area: main;
    height: 100%;
    min-height: 400px;
}

.mainPage {
    display: grid;
    text-align: left;
    grid-template-columns: 30% auto;
    grid-template-rows: 20% 20% auto;
    grid-template-areas:
        "top top"
        "header header"
        "info main"
}

@media all and (max-width: 550px) {
    .mainPage {
        display: flex;
        flex-flow: column;
        justify-content: space-around;
    }
    body {
        height: auto;
    }
}